.content {
  max-width: 880px;
  margin: auto;
  padding-top: 40px;
}
.content__profile {
  display: flex;
  gap: 30px;
  padding-bottom: 50px;
  justify-content: space-between;
}
.profile__content {
  max-width: 120px;
}
.profile__image {
  width: 100%;
  border-radius: 100%;
}
.profile {
  display: flex;
}
.profile__paragraph {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-left: 30px;
}
.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.3;
  margin: 0;
}
.profile__button {
  border: 2px inset;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 0;
  cursor: pointer;
}
.profile__button:hover {
  opacity: 0.5;
}
.profile__about {
  font-size: 18px;
  line-height: 1.3;
}
.profile__pencil {
  margin-left: 18px;
  border: none;
}
.button__image_edit {
  width: 22px;
  margin-bottom: 7px;
}
.profile__button_add {
  width: 150px;
  height: 50px;
  align-self: center;
}
.button__image_add {
  width: 22px;
  height: 22px;
}
.galery {
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
}
.galery__card {
  max-width: 280px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}
.galery__image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card__image:hover {
  opacity: 0.8;
  cursor: pointer;
}
.galery__content {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}
.galery__title {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 900;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.galery__button {
  border: none;
  width: 25px;
  height: 19px;
}
.galery__button:hover {
  opacity: 0.7;
}

@media screen and (min-width: 585px) and (max-width: 880px) {
  .content {
    max-width: 700px;
  }
  .content__profile {
    gap: 25px;
  }
  .content__image {
    max-width: 100px;
  }
  .profile__name {
    font-size: 28px;
  }
  .profile__about {
    font-size: 16px;
  }
  .galery {
    max-width: 650px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: auto 15px;
    gap: 20px;
    justify-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 584px) {
  .content {
    max-width: 280px;
  }
  .content__profile {
    flex-direction: column;
    align-items: center;
  }
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profile__name {
    font-size: 22px;
  }
  .profile__button_add {
    width: 280px;
    height: 50px;
  }
  .galery {
    max-width: 280px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
